*.jl.*.cov
*.jl.cov
*.jl.mem

examples/.ipynb_checkpoints/

.DS_Store

examples/primitive schema examples/.ipynb_checkpoints/

examples/primitive_schema_examples/.ipynb_checkpoints/



examples/primitive_schema_examples/practises/.ipynb_checkpoints/SEIRVD model hard-checkpoint.ipynb

examples/primitive_schema_examples/practises/.ipynb_checkpoints/SEIRVD model-checkpoint.ipynb

examples/primitive_schema_examples/practises/.ipynb_checkpoints/SIRV composition model simple-checkpoint.ipynb

examples/primitive_schema_examples/practises/.ipynb_checkpoints/SIRV composition model-checkpoint.ipynb

examples/primitive_schema_examples/practises/solutions/.ipynb_checkpoints/SIRV composition model-checkpoint.ipynb
