*.jl.*.cov
*.jl.cov
*.jl.mem

.vscode
.DS_Store

Manifest.toml
.#*

# Jupyter notebook checkpoints
.ipynb_checkpoints
**/*.ipynb_checkpoints

# Vim temporary files:
*~
*.swp
*.swo

# Emacs temporary files
\#*\#
.\#*

